
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


@mixin text-style($size, $weight, $line-height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  font-family: $font-family-global;
}
