// src/assets/styles/_mixins.scss

// 1. Flexbox կենտրոնացում
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


// Mixin for text style
@mixin text-style($size, $weight, $line-height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  font-family: $font-family-global;
}
